.container-fluid, .row {
  height: 100%;
}

.container-fluid {
  .row {
    justify-content: center;

    .col {
      display: flex;

      .card {
        border-radius: 0;
        box-shadow: 2px 2px 5px #eaeaea;
        margin: auto;
        width: 100%;

        .card-block {
          padding: 15px;
        }
      }
    }
  }
}
