@mixin full-size {
  height: 100%; width: 100%;
}

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.overlay {
  @include full-size();

  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  font-size: 25px;
  justify-content: center;
  left: 0;
  line-height: 100vh;
  position: absolute;
  text-align: center;
  top: 0;
}

.form-control + .fa-spinner {
  display: none;
}

.form-control.is-pending + .fa-spinner {
  bottom: 30px;
  display: inline-block;
  left: 90%;
  position: relative;
}
