@import "../node_modules/bootstrap/scss/bootstrap";

@mixin full-size {
  height: 100%; width: 100%;
}

html, body {
  @include full-size();
}

body {
  background: linear-gradient(to right, #ffffff, #fcfcfc);
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
}

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.spinner {
  @include full-size();

  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  font-size: 25px;
  justify-content: center;
  left: 0;
  line-height: 100vh;
  position: absolute;
  text-align: center;
  top: 0;
}
