<form [formGroup]="myForm" (submit)="myForm.valid && register()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="form-control"
      autocomplete="off"
      fmValidationStatus="ivp"
    >
    <span fmValidationFeedback="email" error="email">
      Invalid email address.</span>
    <span fmValidationFeedback="email" error="emailTaken">
      Sorry, that email is already taken.</span>
  </div>
  <div formGroupName="password">
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="val"
        class="form-control"
      >
    </div>
    <div class="form-group">
      <input
        type="password"
        formControlName="confirmVal"
        class="form-control"
        placeholder="Confirm password"
      >
      <span fmValidationFeedback="password" error="valuesMatch">
      Passwords don't match.</span>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" [disabled]="!myForm.valid"
            class="btn btn-primary">Create Account</button>
  </div>
</form>
<div *ngIf="loading" class="overlay">
  <i class="fa fa-spinner rotating"></i>
</div>
